.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  height: auto;
  width: 100%;
}

.clients-list {
  display: flex;
  margin-top: 50px;
}

/* .clients-list > .item + .item {
  margin-left: 30px;
} */

.clients-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients-list__icon {
  /* width: 40px;
  height: 40px; */
  fill: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 60px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .clients-list__link:hover &,
  .clients-list__link:focus & {
    fill: var(--accent-color);
  }
}
